:root {
    font-size: 62.5%;
    
    --ff-heading: 'Epilogue', sans-serif;

    --hue: 250;
    --bg-primary: hsl(var(--hue), 22%, 20%);
    --fc-primary: hsl(var(--hue), 0%, 100%);
    --fc-secondary: hsl(var(--hue), 50%, 80%);
    --fc-secondary-dark: hsl(var(--hue), 22%, 20%);

    --fs-body: 1.6rem;
    --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
    --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-heading);
    font-size: var(--fs-body);
    color: var(--fc-primary);

    background-color: var(--bg-primary);
}

main {
    display: grid;
}

.page {
    max-width: clamp(33rem, 33rem + 70vw, 117rem);
    margin: 0 auto;
    padding: 0 5rem;
}

header {
    font-family: var(--ff-heading);
    text-align: center;

    margin: 10rem 0 8rem;
}

header p {
    color: var(--fc-secondary);
    font-weight: 400;
    text-transform: uppercase;
    
    line-height: 3.2rem;
    letter-spacing: 3px;
    margin-bottom: 1.7rem;
}

header h1 {
    font-weight: 800;
    font-size: var(--fs-heading);
    line-height: 4.8rem;
}

.card {
    position: relative;

    font-family: var(--fs-heading);
    margin-top: 3.2rem;
    animation: downtop_card 800ms 300ms ease-in-out backwards;
}

.card img {
    width: 100%;
    height: 41.6rem;
    object-fit: cover;
    border-radius: 6px;
    
    filter: saturate(.7) brightness(.7);
    transition: all 200ms ease-in-out;
}

.card img:hover {
    transform: scale(1.05);
    opacity: 0.9;
    filter: saturate(1.3) brightness(1);
}

.card h2 {
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;

    font-size: var(--fs-heading-sm);
    font-weight: 800;
    
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.card h2 span {
    border-radius: 2rem;
    color: var(--fc-secondary-dark);
    background-color: var(--fc-primary);
    font-size: var(--fs-body);
    font-weight: 400;
    height: 3.8rem;
    width: fit-content;

    padding: 0 1.6rem;
    display: inline-flex;
    align-items: center;
}

@keyframes topdown_header {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop_card {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 700px) {    
    .page {
            /* max-width: 117rem; */
            padding: 0 5rem;
        }

    main {
        
        grid-template-columns: 1fr 1fr;
        gap: 3.2rem;
    }
}

@media (min-width: 930px) {
    main {
        display: grid;
        grid-template-areas:
        "A B B"
        "C C D";
        gap: 3.2rem;
    }

    main div:nth-child(1){
        grid-area: A;
    }

    main div:nth-child(2){
        grid-area: B;
    }

    main div:nth-child(3){
        grid-area: C;
    }

    main div:nth-child(4){
        grid-area: D;
    }
}
